body {
  margin: 0;
  padding: 0;
  background: #ee0acb;
  text-align: center;
  overflow: hidden;
  color: white;
  position: relative;
}

#game-container {
  width: 90vw;
  max-width: 600px;
  height: 75vh;
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  margin: 5vh auto;
  overflow: hidden;
  border: 3px solid #ff66b2;
  border-radius: 15px;
  z-index: 1;
  box-sizing: border-box; 
  padding: 0;
}

#player {
  width: 80px;
  height: 80px;
  font-size: 40px; 
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

#score, #lives {
  color: #ff66b2;
  font-size: 20px;
  position: absolute;
  top: 10px;
}

#score {
  right: 10px;
}

#lives {
  left: 10px;
}
