body {
  margin: 0;
  padding: 0;
  background: #ee0acb;
  text-align: center;
  overflow: hidden;
  color: white;
}

#game-container {
  width: 90vw;
  max-width: 600px;
  height: 75vh;
  background: black;
  position: relative;
  margin: 5vh auto;
  overflow: hidden;
  border: 3px solid #ff66b2;
  border-radius: 15px;
}


#map {
  position: absolute;
  width: 2000px;       
  height: 2000px;
  background-image: url("images/map.jpg");
  background-size: cover;
}

/* Player */
#player {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#score, #lives {
  color: #ff66b2;
  font-size: 20px;
  position: absolute;
  top: 10px;
  z-index: 1;
}

#score { 
  right: 10px; 
}
#lives { 
  left: 10px; 
}
